.bg-teal {
    background-color: #008170;
}

.bg-darkgreen {
    background-color: #005B41;
}

.bg-darkblue {
    background-color: #232D3F;
}

.bg-dark {
    background-color: #0f0f0f;
}

.text-teal {
    color: #008170;
}

.text-teal:hover {
    color: #00a790;
}

.text-darkgreen {
    color: #005B41;
}

.text-darkgreen:hover {
    color: #01855f;
}

.text-grayblue {
    color: #415375;
}

.text-grayblue:hover {
    color: #4e648f;
}

.text-black {
    color: #0f0f0f;
}

.text-black:hover {
    color: #444444;
}

.btn-outline-teal {
    border: 1px solid #008170;
    color: #00a790;
    background-color: transparent;
    text-decoration: none;
}

.btn-outline-teal:hover {
    border: 1px solid #00a790;
    color: #00a790;
    opacity: 75%;
    background-color: transparent;
    text-decoration: none;
}

.btn-outline-grayblue {
    border: 1px solid #4e648f;
    color: #4e648f;
    background-color: transparent;
    text-decoration: none;
}

.btn-outline-grayblue:hover {
    border: 1px solid #4e648f;
    color: #4e648f;
    opacity: 75%;
    background-color: transparent;
    text-decoration: none;
}