html {
  min-width: 300;
}

body {
  background-color: #ebe9d2 !important;
}

.btn {
  transition: all 0.2s ease-in-out;
}

.scenic-background {
  background-image: url(../assets/asd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blurry-light {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.blurry-dark {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* MOBIL MERETRE */
.carousel-wrapper {
  width: 100%;
  background-color: #222;
  height: 350px; 
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  color: white;
  text-align: center;
  padding: 1rem;
}

.overlay h1 {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  font-size: 2.2rem;
  font-weight: bold;
}

.overlay p {
  font-size: 1rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  max-width: 90%;
  margin: 1rem auto;
}

/* KOZEPES MERET */
@media (min-width: 768px) {
  .carousel-wrapper {
    height: 500px;
  }
  .overlay h1 {
    font-size: 3.5rem;
  }
  .overlay p {
    font-size: 1.25rem;
    max-width: 600px;
  }
}

/* NAGY MERET */
@media (min-width: 992px) {
  .carousel-wrapper {
    height: 600px;
  }
}

.ant-carousel, 
.ant-carousel .slick-slider, 
.ant-carousel .slick-list, 
.ant-carousel .slick-track, 
.ant-carousel .slick-slide > div {
  height: 100%;
}

.carousel-card-content {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ant-carousel .slick-dots li button {
  background: white !important;
  opacity: 0.5;
  height: 6px !important;
  border-radius: 4px;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  width: 30px !important;
}

.hover {
  transition: all 0.2s ease-in-out;
}

.hover:hover {
  transform: scale(110%);
}

.text-custom-yellow {
  color: var(--custom-yellow) !important;
}